<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('plugins/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}">
</head>
<body>

{{ include('partials/navbar.html.twig') }}

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('plugins/bootstrap-3.3.6-dist/js/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
