@media (min-width: 768px) {
    .form-inline .control-label, .form-inline .form-group {
        margin-bottom: 10px;
        vertical-align: middle;
    }
}

.page-header.navbar .page-logo .logo-default {
    margin: 15px 0 0;
    color: #fff;
}

table.cash-flow-table th {
    text-align: center !important;
    font-weight: normal;
}

table.cash-flow-table th:first-child {
    text-align: left !important;
    font-weight: bold;
}

table.cash-flow-table hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

table.cash-flow-table td, table.cash-flow-table th {
    vertical-align: middle !important;
}

div#installments hr {
    border-top: 1px dotted #337ab7;
}

.bold {
    font-weight: bold;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}