{% extends 'base.html.twig' %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">

            <thead>
            <th>&nbsp;</th>
            {% for i in 1..12 %}
                <th>{{ i |date(date('Y')|date('Y') ~ '-' ~ i ~ '-' ~ date('d')|date('d')) |date('M') }}</th>
            {% endfor %}
            </thead>

            <thead>
            <th>Saldo Final</th>
            {% for i in 1..12 %}
                <th>&nbsp;</th>
            {% endfor %}
            </thead>

            <thead>
            <th>Saldo M&ecirc;s Anterior</th>

            {% for i in 1..12 %}
                <th>{% if i == 1 %}{{ previous_balance|number_format(2,',','.') }}{% else %}&nbsp;{% endif %}</th>
            {% endfor %}
            </thead>

            <thead>
            <th>Gera&ccedil;&atilde;o de Caixa</th>

            {% for i in 1..12 %}
                <th>0</th>
            {% endfor %}
            </thead>

            {% set totalBillCategoryPaid = [] %}
            {% set totalBillCategoryPaidNotPago = [] %}

            {% set totalPaid = [] %}
            {% set totalNotPaid = [] %}

            {% set bcaIds = [] %}
            {% set bpcIds = [] %}
            {% set bplIds = [] %}

            {% for bca_val in bill_plans %}

                {% if bca_val.billPlanCategory.billCategory.id not in bcaIds %}

                    {% set bcaIds = bcaIds|merge([bca_val.billPlanCategory.billCategory.id]) %}

                    <thead class="bg-info">
                    <th>{{ bca_val.billPlanCategory.billCategory.description }}</th>

                    {% for i in 1..12 %}
                        <th>&nbsp;</th>
                    {% endfor %}
                    </thead>

                    {% for bpc_val in bill_plans %}

                        {% if bpc_val.billPlanCategory.id not in bpcIds and bpc_val.billPlanCategory.id == bca_val.billPlanCategory.id %}

                            {% set bpcIds = bpcIds|merge([bpc_val.billPlanCategory.id]) %}

                            <thead>
                            <th>{{ bpc_val.billPlanCategory.description }}</th>

                            {% for i in 1..12 %}

                                {% set installment_paid = 0 %}
                                {% set installment_not_paid = 0 %}

                                {% for flow in cash_flow %}

                                    {% if flow.biplc_id == bpc_val.billPlanCategory.id and i == flow.dueDateAt|date('n') and flow.dueDateAt|date('Y') == '2016' %}
                                        {% if flow.referency == 'pago' %}
                                            {% set installment_paid = installment_paid + flow.cf_amount_paid %}
                                        {% else %}
                                            {% set installment_not_paid = installment_not_paid + flow.cf_amount %}
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}

                                <th>&nbsp;</th>

                            {% endfor %}
                            </thead>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endfor %}

        </table>
    </div>

{% endblock %}